@font-face {
	font-family: Muro;
	src: url('Muroslant.otf');
}
@font-face {
	font-family: Hun;
	src: 'https://tetr.io/res/font/hun2.ttf?v=9';
}
@font-face {
	font-family: SLANT;
	src: url('Sunmoreslantfree-DOMDx.ttf');
}
body {
    font-family: SLANT;
}
.queue {
	text-align: center;
	font-family: Muro;
	font-size: 28px;
	letter-spacing: 2px;
}
.canvas {
	vertical-align: top;
}
.button {
	display: block;
	background-color: #222;
	border: 2px solid white;
	padding: 6px;
	color: white;
	font-family: SLANT;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button:hover {
	display: block;
	background-color: #4caf50; /* Green */
	border: 2px solid white;
	color: white;
	font-family: SLANT;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 6px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
input[type='radio'] {
	display: none;
}

label > input[class='paintbucket'] + *::before {
    content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 1rem;
	height: 1rem;
	margin-right: 0.3rem;
    margin-top: 0.3rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.2rem;
    filter: brightness(50%);
}

label > input[class='paintbucket']:hover + *::before {
	border-color: white;
}

label > input[class='paintbucket']:checked + *::before {
	border-color: white;
    filter: brightness(150%);
}

label > input[id='X'] + *::before {
	color: #999999;
	background: #999999;
}
label > input[id='I'] + *::before {
	color: #0BF;
	background: #0BF;
}
label > input[id='J'] + *::before {
	color: #05F;
	background: #05F;
}
label > input[id='S'] + *::before {
	color: #0F0;
	background: #0F0;
}
label > input[id='O'] + *::before {
	color: #FF0;
	background: #FF0;
}
label > input[id='Z'] + *::before {
	color: #F00;
	background: #F00;
}
label > input[id='L'] + *::before {
	color: #F80;
	background: #F80;
}
label > input[id='T'] + *::before {
	color: #C3F;
	background: #C3F;
}
