@font-face {
	font-family: Muro;
	src: url('Muroslant.otf');
}
@font-face {
	font-family: Hun;
	src: 'https://tetr.io/res/font/hun2.ttf?v=9';
}
@font-face {
	font-family: SLANT;
	src: url('Sunmoreslantfree-DOMDx.ttf');
}
body {
    font-family: SLANT;
}
.queue {
	text-align: center;
	font-family: Muro;
	font-size: 28px;
	letter-spacing: 2px;
}
.canvas {
	vertical-align: top;
}
.button {
	display: block;
	background-color: #222;
	border: 2px solid white;
	padding: 6px;
	color: white;
	font-family: SLANT;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button:hover {
	display: block;
	background-color: #4caf50; /* Green */
	border: 2px solid white;
	color: white;
	font-family: SLANT;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 6px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
input[type='radio'] {
	display: none;
}
