.board-settings {
    width: 165px;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.button--shuffle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--shuffle::before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../assets/icons/shuffle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}